/*
======
Global Styles
======
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { text-decoration: none; color: unset; }

ul {list-style: none;}

body { font-family: 'Poppins', sans-serif; }

/*
======
Header Styles
======
*/
.header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 33px;
    color: white;
}

.header > .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1366px;
}

.logo {
    font-size: 28px;
}

.menu-itens {
    display: flex;
    gap: 19px;
    align-items: center;
}

.menu-itens a {
    font-size: 16px;
    font-weight: 300;
}

.container .menu-itens a:last-child, .home a{
    background-color: #a8a6a1;
    padding: 18px 30px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.5s;
}

.container .menu-itens a:last-child:hover, .home a:hover{
    opacity: 0.8;
}

/*
======
Home Styles
======
*/
.main .home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assets/img/home.jpg");
    height: 100vh;
    color: white;  
}

.home .card {
    gap: 20px;
    text-align: center;
}

.card h4 {
    font-size: 19.2px;
    margin: 20px 0;
}

.card #title {
    font-size: 60px;
}

